.RadioGroup {
  display: block;
  margin: 8px;

  &__label {
    display: inline-flex;
    padding: 6px 12px;
    margin: 0 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: rgb(178, 174, 172);
  }

  &__input {
    margin: 0 4px;
  }
}