.EachDate {
  &__table {
    width: 100%;
    text-align: left;
    padding: 16px;
    margin: 12px 16px;
    color: rgb(78, 77, 77);
    border-radius: 8px;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 13%), 0 3px 12px 0 rgb(0 0 0 / 6%);
    cursor: pointer;
  }

  &__date {
    width: 40px;
    font-weight: 500;
  }

  &__tag {
    width: 60px;
    font-weight: 500;
  }
}
